<!-- Modal -->
<div class="container py-5">
   <!--  Title-->
   <div class="row justify-content-center text-center">
      <h3 class="text-center">TRA CỨU ĐƠN HÀNG</h3>
      <div class="col-12 col-lg-6">

        

         <form class="form mt-4" method="POST" action="/checkOrder/show">
            <div class="form-group">
               <input class="form-control mb-3" id="phoneNumber" type="number" placeholder="Email" name="phoneNumber" required />
            </div>

            <button type="submit" class="col-12 btn btn-success mt-3">Tra cứu</button>

         </form>
         
      </div>
   </div>

</div>