<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <h2 class="font-w600 title mb-2 mr-auto">Dashboard</h2>
      <div class="col-12">
        <div class="card">
          <div class="card-header pb-2">THỐNG KÊ DOANH THU</div>
          <div class="card-body">
            <div class="row">
              <div class="border-top-0">
                <h1>Example heading <span class="badge bg-secondary">New</span></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- <div class="">
      <div id="pie-chart"></div>
      <div id="bar-chart"></div>
      <div id="line-chart"></div>
    </div> --}}
  </div>
</div>