<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <h2 class="font-w600 title pl-3 mb-2 mr-auto">Dashboard</h2>
      <div class="col-12">
        <div class="card">
          <div class="card-header pb-2">THỐNG KÊ DOANH THU</div>
          <div class="card-body">
            <div class="row">
              <div class="col-6 border-right">
                <div class="col-12">
                  <div class="d-flex align-items-center">
                    <h1 class="py-5">{{objHour.0.price}}</h1>
                    <span class="pl-2">VNĐ</span>
                  </div>
                </div>
                <div class="col-12 mt-3">
                  <p><strong>Ngày mua:</strong> {{objHour.0._id}}</p>
                  <p>Tổng số đơn hàng: {{objHour.0.count}} đơn</p>
                </div>
              </div>

              <div class="col-6">
                <div class="row">
                  <div class="col-6">
                    <span class="d-block mb-2">Từ ngày</span>
                    <input id="startDate" class="form-control" type="date" pattern="\d{1,2}/\d{1,2}/\d{4}">
                  </div>
                  <div class="col-6">
                    <span class="d-block mb-2">Đến ngày</span>
                    <input id="endDate" class="form-control" type="date" pattern="\d{1,2}/\d{1,2}/\d{4}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- <div class="">
      <div id="pie-chart"></div>
      <div id="bar-chart"></div>
      <div id="line-chart"></div>
    </div> --}}
  </div>
</div>
<script>
  var startDate = document.getElementById('startDate');
  var endDate = document.getElementById('endDate');
  startDate.addEventListener('change', function() {
    var new_startDate = formatDate(startDate.value);
    //startDate.value = new_startDate;
    console.log(new_startDate);
    document.getElementById('startDate').value = new_startDate;
  })

  function formatDate(date) {
    var date = new Date(date);
    let dd = date.getDate();
    let mm = date.getMonth() + 1;
    let yyyy = date.getFullYear();
    if(dd < 10) dd = '0' + dd;
    if(mm < 10) mm = '0' + mm;
    date = `${dd}/${mm}/${yyyy}`;
    return date;
  }
</script>