<!-- Start Cart modal -->
<div class="site-cart">
   <div class="site-cart-overlay"></div>

   <div class="site-nav-container-last">
      <div class="cart-modal-title">
         <span class="modal-title-text">Giỏ hàng</span>
         <span id="cart-btn-close" class="cart-close-btn">
            <i class="fas fa-times"></i>
         </span>
      </div>

      <div class="cart-view-list clearfix cart-view-list-empty">
         <table class="cart-view cart-view-empty">
            <tr class="cart-item cart-item-empty">
               <td>Chưa có sản phẩm trong giỏ hàng</td>
            </tr>
         </table>

         <!-- Start Cart Table -->
         {{!-- <table class="cart-view">
            <tbody>
               <tr class="cart-item">
                  <td class="item-img">
                     <img class="img-fluid" src="https://cf.shopee.vn/file/427e5f84a66a40c2c1cdbcbca09a42ab"
                        alt="Card image cap" id="product-detail">
                  </td>

                  <td>
                     <a href="" class="item-title">Snake High Chain</a>
                     <span class="item-properties">Bạc, 16cm</span>
                     <div class="item-amount">
                        <form class="item-view-quantity">
                           <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-
                           </div>
                           <input type="number" id="number" value="1" />
                           <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+
                           </div>
                        </form>
                        <span class="item-view-price">100.000đ</span>
                     </div>
                  </td>
                  <td>
                     <a class="remove-link" href="">
                        <i class="fas fa-times"></i></a>
                     </a>
                  </td>
               </tr>

               <tr class="cart-item">
                  <td class="item-img">
                     <img class="img-fluid" src="https://cf.shopee.vn/file/427e5f84a66a40c2c1cdbcbca09a42ab"
                        alt="Card image cap" id="product-detail">
                  </td>

                  <td>
                     <a href="" class="item-title">Snake High Chain</a>
                     <span class="item-properties">Bạc, 16cm</span>
                     <div class="item-amount">
                        <!-- <span class="item-view-quantity">1</span> -->

                        <form class="item-view-quantity">
                           <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-
                           </div>
                           <input type="number" id="number" value="1" />
                           <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+
                           </div>
                        </form>

                        <span class="item-view-price">100.000đ</span>
                     </div>
                  </td>
                  <td>
                     <a class="remove-link" href="">
                        <i class="fas fa-times"></i></a>
                     </a>
                  </td>
               </tr>
            </tbody>
         </table> --}}
         <!-- End Cart Table -->

         <span class="line"></span>

         <!-- Start Total Table -->
         <table class="table-total">
            <tbody>
               <tr>
                  <td class="text-left">TỔNG TIỀN:</td>
                  <td class="text-right">0đ</td>
               </tr>
            </tbody>
         </table>

         <a class="btn btn-success btn-site-cart" href="cart.html">THANH TOÁN</a>
         <!-- End Total Table -->
      </div>
   </div>
</div>
<!-- End Cart modal -->

<!-- Start Content -->
<div class="container py-5">
   <div class="row">

      <div class="col-lg-3">
         <h1 class="h2 pb-4">Danh mục sản phẩm</h1>

         <ul class="list-unstyled templatemo-accordion">
            <li class="pb-3">
               <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                  Loại
                  <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
               </a>
               <ul id="collapseThree" class="collapse list-unstyled pl-3">
                  <li><a class="sildeDown-item text-decoration-none" href="#">Vòng tay</a></li>
                  <li><a class="sildeDown-item text-decoration-none" href="#">Vòng cổ</a></li>
                  <li><a class="sildeDown-item text-decoration-none" href="#">Nhẫn</a></li>
               </ul>
            </li>

            <li class="pb-3">
               <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                  Màu sắc
                  <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
               </a>
               <ul class="collapse show list-unstyled pl-3">
                  <li><a class="sildeDown-item text-decoration-none" href="#">Bạc</a></li>
                  <li><a class="sildeDown-item text-decoration-none" href="#">Vàng</a></li>
                  <li><a class="sildeDown-item text-decoration-none" href="#">Đen</a></li>
               </ul>
            </li>


            <li class="pb-3">
               <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                  Chất liệu
                  <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
               </a>
               <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                  <li><a class="sildeDown-item text-decoration-none" href="#">Inox</a></li>
                  <li><a class="sildeDown-item text-decoration-none" href="#">Titan</a></li>
               </ul>
            </li>
         </ul>
      </div>

      <div class="col-lg-9">
         <div class="row flex-row-reverse">
            <div class="col-md-6 pb-4">
               <input type="text" class="form-control" id="inputModalSearch" name="q"
                  placeholder="Tìm kiếm sản phẩm...">
            </div>
         </div>

         <div class="row">
            <div class="col-md-4">
               <div class="card mb-4 product-wap rounded-0">
                  <div class="card rounded-0">
                     <img class="card-img rounded-0 img-fluid"
                        src="https://cf.shopee.vn/file/427e5f84a66a40c2c1cdbcbca09a42ab">
                     <div
                        class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                        <ul class="list-unstyled">
                           <!-- <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li> -->
                           <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                                    class="far fa-eye"></i></a></li>
                           <!-- <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li> -->
                        </ul>
                     </div>
                  </div>
                  <div class="card-body">
                     <a href="shop-single.html" class="h3 text-decoration-none">Snake high chain</a>
                     <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                        <li>Chất liệu: inox</li>
                        <li class="pt-2">
                           <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                           <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                           <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                           <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                           <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                        </li>
                     </ul>

                     <p class="text-center mt-2 mb-0">100.000 vnd</p>
                  </div>
               </div>
            </div>
            <!-- End Product-1 -->

            <div class="col-md-4">
               <div class="card mb-4 product-wap rounded-0">
                  <div class="card rounded-0">
                     <img class="card-img rounded-0 img-fluid"
                        src="https://cf.shopee.vn/file/427e5f84a66a40c2c1cdbcbca09a42ab">
                     <div
                        class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                        <ul class="list-unstyled">
                           <!-- <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li> -->
                           <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                                    class="far fa-eye"></i></a></li>
                           <!-- <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li> -->
                        </ul>
                     </div>
                  </div>
                  <div class="card-body">
                     <a href="shop-single.html" class="h3 text-decoration-none">Snake high chain</a>
                     <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                        <li>Chất liệu: inox</li>
                        <li class="pt-2">
                           <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                           <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                           <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                           <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                           <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                        </li>
                     </ul>

                     <p class="text-center mt-2 mb-0">100.000 vnd</p>
                  </div>
               </div>
            </div>
            <!-- End Product-1 -->

            <div class="col-md-4">
               <div class="card mb-4 product-wap rounded-0">
                  <div class="card rounded-0">
                     <img class="card-img rounded-0 img-fluid"
                        src="https://cf.shopee.vn/file/427e5f84a66a40c2c1cdbcbca09a42ab">
                     <div
                        class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                        <ul class="list-unstyled">
                           <!-- <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li> -->
                           <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                                    class="far fa-eye"></i></a></li>
                           <!-- <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li> -->
                        </ul>
                     </div>
                  </div>
                  <div class="card-body">
                     <a href="shop-single.html" class="h3 text-decoration-none">Snake high chain</a>
                     <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                        <li>Chất liệu: inox</li>
                        <li class="pt-2">
                           <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                           <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                           <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                           <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                           <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                        </li>
                     </ul>

                     <p class="text-center mt-2 mb-0">100.000 vnd</p>
                  </div>
               </div>
            </div>
            <!-- End Product-1 -->
         </div>

         <div div="row">
            <ul class="pagination pagination-lg justify-content-end">
               <li class="page-item disabled">
                  <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#"
                     tabindex="-1">1</a>
               </li>
               <li class="page-item">
                  <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
               </li>
               <li class="page-item">
                  <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
               </li>
            </ul>
         </div>
      </div>
      <!-- Pages -->

   </div>
</div>
<!-- End Content -->