.product-title {
  display: block;
  font-size: 16px;
  font-weight: 300;
  color: rgb(39, 39, 39);
  margin-bottom: 4px;
}

.product-price {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1.2px;
  color: rgb(39, 39, 39);
}

.product-color-title {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.2px;
  color: rgb(39, 39, 39);
}

.seemore-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
  margin-top: 30px;
  
}

.seemore-btn-icon {
  margin-left: 6px;
}

.seemore-btn:hover {
  opacity: 0.7;
  color: #000;
}


.price-text {
  color: #59ab6e;  
}

.price-unit {
   color: #59ab6e;
   display: inline-block;
}

.items-container {
   height: 3.75rem;
   padding: 20px 0;
   border-bottom: 1px solid rgba(0,0,0,.09);
}

/* Quantity input */

.quantity-selection {
  min-height: 30px;
}

 .value-button {
   display: inline-block;
   background-color: #59ab6e;
   text-align: center;
   width: 24px;
   height: 100%;
   color: #fff;
 }
 
 .value-button:hover {
   opacity: 0.9;
   cursor: pointer;
 }

 .value-button:active {
  opacity: 0.8;
  user-select: none;
}
 
 form #decrease {
   margin-right: -4px;
 }
 
 form #increase {
   margin-left: -4px;
 }
 
 form #input-wrap {
   margin: 0px;
   padding: 0px;
 }
 
 input#number {
   text-align: center;
   height: 100%;
   width: 30px;
   border: none;
   border-top: 1px solid #ddd;
   border-bottom: 1px solid #ddd;
 }
 
 input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

 .cart-card {
    margin: 3rem;
 }

 .product-cancle-btn {
   color: #000;
   border: none;
   padding: 10px;
   background-color: transparent;
   cursor: pointer;
 }

.product-cancle-btn:hover {
   opacity: 0.6;
 }

 .cart-container {
   position: relative;
 }

.total-container {
  background-color: #eee;
}

.sildeDown-item {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    display: block;
    margin-bottom: 8px;
}

/* Evaluation */
.cmt-container {
  padding: 20px 0;
}

.cmt-details {
  margin-left: 12px;
}

.cmt-details > p {
  margin-bottom: 0;
}

.cmt-details > h6 {
  margin-top: 0;
  margin-bottom: 8px;
}

.cmt-avatar {
  width: 50px;
  height: 100%;
  object-fit: contain;
}

.cmt-name {
  font-size: 0.8rem;
}

/* Site Cart */

/* Empty card */
.cart-view-list-empty .cart-view-empty,
.cart-view-list-empty .cart-item-empty {
  display: block;
}
.cart-view-empty,
.cart-item-empty {
  display: none;
}

.site-cart {
  display: none;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
}

.site-nav-empty {
  
}

.site-cart.open {
  display: flex;
}

.site-cart-open {
  cursor: pointer;
}

.site-cart-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}

.site-nav-container-last {
  width: 500px;
  position: relative;
  background-color: #fff;
  padding: 60px 70px 0;
  z-index: 1;
  animation: rightSite ease-in 0.3s;
}

@keyframes rightSite {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.cart-modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-title-text {
  font-size: 0.6rem;
  text-transform: uppercase;
}

.cart-close-btn {
  color: #000;
  opacity: 0.8;
  cursor: pointer;
}

.cart-close-btn:hover i {
  color: #000;
  opacity: 0.6;
}

.cart-close-btn > i {
  font-size: 1.2rem;
}

.cart-view-list {
  margin-top: 50px;
}

.cart-view {
  width: 100%;
  border: 1px solid #ccc;
}

.cart-view tr {
  border-bottom: 1px dotted #ccc;
  padding: 20px;
  text-align: center;
}

.cart-view td {
  padding: 10px;
}

.cart-view .item-img img {
  width: 70px;
  /* border: 1px dotted #999; */
  margin-right: 10px;
  max-width: none;
}

.cart-view .item-title {
  display: block;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.cart-view .item-properties {
  display: block;
  color: #999;
  margin: 5px 0 12px;
}

.cart-view .item-amount {
  display: flex;
  align-items: center;
}

.cart-view .item-view-quantity {
  /* font-size: 0.6rem; */
  margin-right: 8px;
  /* padding: 4px 10px;
  line-height: 1; */
  /* background-color: #ededed; */
}

.cart-view .item-view-price {
  color: #999;
}

.cart-view .remove-link {
  color: #000;
}

.cart-view .remove-link:hover {
  opacity: 0.7;
}

.line {
  float: left;
  width: 100%;
  margin: 10px 0;
  border-top: 2px solid #000;
}

.table-total {
  width: 100%;
  border: 1px solid #ccc;
}

.table-total tr {
  border-bottom: 1px dotted #ccc;
  padding: 10px;
}

.table-total td {
  padding: 10px;
}

.btn-site-cart {
  font-size: 16px;
  width: 100%;
  margin-top: 12px;
}

.coupon-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn-coupon {
  margin-left: 8px;
  text-transform: uppercase;
  font-size: 0.7rem;
}

/* Bill section */
.bill-payment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bill-backtoshop {
  cursor: pointer;
  font-size: 100px;
  color: #000;
  text-decoration: none;
}

.bill-backtoshop:hover {
  color: #000;
  opacity: 0.6;
}

.bill-info-title {
  display: flex;
}

.vertical-line {
  display: block;
  height: 100%;
  margin: 0 16px;
  border-left: 1px solid #ccc;
}

/* Color card list */
.color-card-list {
  display: inline-flex;
}

.color-card {
  margin-right: 10px;
  padding: 3px 7px;
  border-radius: 3px;
  /* background-color: rgb(226, 225, 225); */
  cursor: default;
}

/* Filter products */
.product-none {
  display: none;
}

.attr-check-btn {
  font-size: 50px;
}

/* Custom checkmark */
/* Create a custom checkbox */
.attr-check-btn {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.attr-check-btn::first-letter {
  text-transform: capitalize;
}

.attr-check-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 9px;
  left: 0;
  height: 25px;
  width: 25px;
  display: block;
  border: 1px solid rgb(221, 218, 218);
}

/* On mouse-over, add a grey background color */
.attr-check-btn:hover input ~ .checkmark {
  border: 1px solid #7db68c;
}

/* When the checkbox is checked, add a blue background */
.attr-check-btn input:checked ~ .checkmark {
  background-color: #59ab6e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.attr-check-btn input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.attr-check-btn .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Empty product list */
.js-product-area.p-list-empty .empty-p-list {
  display: flex;
}

.js-product-area.p-list-empty .pagination {
  display: none;
}

.empty-p-list {
  flex-direction: column;
  align-items: center;
  margin: 60px 0 30px 0;
  display: none;
}

.empty-icon {
  font-size: 50px;
  opacity: 0.3;
  margin-bottom: 20px;
}

.empty-text {
  font-size: 20px;
  letter-spacing: 1.4;
  opacity: 0.5;
  cursor: default;
}

/* Product detail*/
.product-detail-dot {
  width: 25px;
  height: 25px;
  display: block;
  align-items: center;
  border-radius: 50%;
  margin-right: 6px;
  border:none;
}

.product-detail-dot :hover {
  border: solid 10px black;
}

.sku-sizes-picker {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
  margin: 0;
  border:1px solid #ccc;
  cursor: pointer;
}

.sku-sizes-picker.active {
  background-color: #000;
  color: #fff;
}

.sku-sizes-picker:hover {
  background-color: #000;
  color: #fff;
}





